.project
.classpath
.fatjar
.metadata
/log/
/bin/
/build/
/.gradle/
/.settings/
**/.project
**/.classpath
**/.fatjar
**/bin/
**/build/
**/.gradle/
**/.settings/
**/log/
*.dat.*
**/result/*
**/database/*.db
callinfo_aucm.db
*.jar
**/tester/v2/*
*.zip.*
*.zip